
/* body{
    border: 1px solid pink;
} */
.main_title{
    text-align: center;
}
.intro_p{
    display: flex;
    /* justify-content: center; */
    text-align: center;
}
.phone_hr{
    display: flex;
}
li{
    padding: 0.2em;
    /* border: 1.5px solid black; */
}
.image_wrapper{
    width: 100%;
    display: none;
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}
.footing_p{
    margin-top: 0.2em;
    font-size: medium;
    width: 100%;
}
footer>a{
    width: 100%;
}
.footer_img{
    width: 30%;
    padding: 1em;
}
.article_footer{
    display: none;
}
.web_title, .goodies_title{
    font-size: 15pt;
}
/* .list_wrapper_1, .list_wrapper_2{
    border: 2px solid red;
} */
.list_wrapper_1>h2{
    width: 20%;
}
.list_wrapper_2>h2{
    width: 20%;
}
/* .list_wrapper_1>ul{
    
} */
a{
    font-weight: bolder;
    font-size: 11pt;
}
a:visited{
    font-weight: bolder;
    font-size: 11pt;
}
