* {
    margin: 0;
    padding: 0;
}
:root {
    font-family: 'Roboto', sans-serif;
    font-size:medium;
}
body{
    width: 80%;
    margin: auto;
    padding-top: 3em;
}
.boxed-in-title {
    border: 2px solid gold;
    text-align: left;
    width: 20%;
    padding: 1em;
}
.tech-stack-wrapper {
    background-color: gold;
    width: 40%;
    border-radius: 1em;
}
.projects-wrapper {
    display: flex;
    align-items: stretch;
}
.projects-left-container, .projects-right-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 40%;
    padding-right: 1em;
    padding-left: 1em;
}
.project-container {
    border: 2px solid red;
    border-radius: 2em;
    padding: 1em;
}
h1 {
    font-weight: bold;
}
h2 {
    color: rgb(0,0,0,0.6);
}
img{
    max-width: 100%;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size:smaller;
    width: 100%;
    margin-top: 0.5em;
    border-top: 2px solid black;
    padding-top: 0.5em;
}
.footing_p{
    margin-top: 0.2em;
    font-size: medium;
    width: 100%;
}
footer>a{
    width: 100%;
}
.footer_img{
    width: 2.5%;
    padding-left: 0.3em;
    padding-right: 0.3em;
    transition: all 200ms ease;
    border-radius: 100px;
}
.footer_img_special{
    width: 2.6%;
    padding-left: 0.3em;
    padding-right: 0.3em;
    transition: all 200ms ease;
}
.footer_img:hover{
    transform: scale(1.2);
}
.footer_img_special:hover{
    transform: scale(1.2);
}
.underline{
    background: linear-gradient(0deg, cadetblue, cadetblue) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    /* --bg-h: 100%; */
    padding-bottom: 2px;
    --bg-h: 2px;
}
.underline:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}
