* {
    margin: 0;
    padding: 0;
}
:root {
    font-family: 'Roboto', sans-serif;
    font-size:medium;
}

/******************/
/** MAIN STYLING **/
/******************/

body {
    display: flex;
    flex-direction: column;
    margin: auto;
}
img{
    max-width: 100%;
}
a{
    color: cadetblue;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: cadetblue;
    text-decoration: none;
    font-weight: bold;
}

/************/
/** FOOTER **/
/************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    margin-left: 10em;
    margin-right: 10em;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.3em;
}
footer ul li {
    width: 3%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    transition: all 200ms ease;
    border-radius: 100px;
}
footer ul li:hover {
    transform: scale(1.2);
}

/*********************/
/** LINK ANIMATIONS **/
/*********************/

.underline{
    background: linear-gradient(0deg, cadetblue, cadetblue) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    /* --bg-h: 100%; */
    padding-bottom: 2px;
    --bg-h: 2px;
}
.underline:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}
